// Auto Load Next Post branding color.
$alnp: #ffdb30;

// Colors
$black: rgb(41, 41, 41);
$black-000: #000;
$grey: #555d66;
$red: #c92c2c;
$lightred: #f9e2e2;
$lightgreen: #eff9f1;
$darkgreen: #337f46;
$darkred: #a00;
$green: #4ab866;
$white: #fff;
$lightgrey: #e5e5e5;
$blue: #008aff;
$yellow: #f1e865;
$shadow: rgba(0, 0, 0, 0.04);