/**
 * CSS for Auto Load Next Post settings page and notifications.
 */
#wpfooter .wrap {
	display: block;
	margin: 3px 0 3px 0 !important;
}
.wrap.auto-load-next-post.support input[type="button"].button-primary,
.wrap.auto-load-next-post.support input[type="submit"].button-primary,
.auto-load-next-post-message.support a.button-primary {
	display: none;
}
h2.nav-tab-wrapper {
	padding-left: 0px !important;
}
h2.nav-tab-wrapper span {
	float: left;
	line-height: initial;
	font-size: 1.3em;
	margin-right: 6px;
}
h2 .nav-tab:first-child {
	margin-left: 10px;
}
.wrap.auto-load-next-post-div.updated, .wrap.auto-load-next-post-div.error {
	margin-top:10px;
}
.wrap.auto-load-next-post.auto-load-next-post-status .submit.debug-report {
	margin: 0;
	padding: 0;
}
.button.auto-load-next-post-reload {
	display: block;
	text-indent: -9999px;
	position: relative;
	height: 1em;
	width: 1em;
	padding: 0;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	height: 24px;
	width: 24px !important;
	display: inline-block;
}
.button.auto-load-next-post-reload:after {
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 22px;
}
.auto-load-next-post table.form-table fieldset {
	margin-top: 4px;
}

/* Notifications */
.notice.auto-load-next-post-notice {
	padding: 20px;
}
.rtl .notice.auto-load-next-post-notice {
	border-right-color: #008ec2 !important;
}
.notice-info.auto-load-next-post-notice {
	border-left-color: #008ec2 !important;
}
.rtl .notice-info.auto-load-next-post-notice {
	border-right-color: #008ec2 !important;
}
.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner {
	display: table;
	width: 100%;
}
.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-notice-icon,
.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-notice-content,
.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-review-now,
.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-send-feedback {
	display: table-cell;
	vertical-align: middle;
}
.notice.auto-load-next-post-notice .auto-load-next-post-notice-icon {
	color: #509ed2;
	font-size: 50px;
	width: 60px;
}
.notice.auto-load-next-post-notice .auto-load-next-post-notice-icon img {
	width: 64px;
}
.notice.auto-load-next-post-notice .auto-load-next-post-notice-content {
	padding: 0 40px 0 20px;
}
.notice.auto-load-next-post-notice p {
	padding: 0;
	margin: 0;
}
.notice.auto-load-next-post-notice h3 {
	margin: 0 0 5px;
}
.notice.auto-load-next-post-notice .auto-load-next-post-review-now,
.notice.auto-load-next-post-notice .auto-load-next-post-send-feedback,
.notice.auto-load-next-post-notice .auto-load-next-post-documentation {
	text-align: center;
}
.notice.auto-load-next-post-notice .auto-load-next-post-review-now .auto-load-next-post-review-button,
.notice.auto-load-next-post-notice .auto-load-next-post-send-feedback .auto-load-next-post-feedback-button,
.notice.auto-load-next-post-notice .auto-load-next-post-documentation .auto-load-next-post-documentation-button {
	padding: 6px 50px;
	height: auto;
	line-height: 20px;
}
.notice.auto-load-next-post-notice a.no-thanks {
	display: block;
	margin-top: 10px;
	color: #72777c;
	text-decoration: none;
}
.notice.auto-load-next-post-notice a.no-thanks:hover {
	color: #444;
}
@media (max-width: 767px) {
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner {
		display: block;
	}
	.notice.auto-load-next-post-notice {
		padding: 20px !important;
	}
	.notice.auto-load-next-post-noticee .auto-load-next-post-notice-inner {
		display: block;
	}
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-notice-content {
		display: block;
		padding: 0;
	}
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-notice-icon {
		display: none;
	}
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-review-now,
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-send-feedback,
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-documentation {
		margin-top: 20px;
		display: block;
		text-align: left;
	}
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .no-thanks {
		display: inline-block;
		margin-left: 15px;
	}
}
