/**
 * CSS for Auto Load Next Post settings page and notifications.
 */
.wrap.auto-load-next-post.support input[type="button"].button-primary,
.wrap.auto-load-next-post.support input[type="submit"].button-primary,
.wrap.auto-load-next-post.support input[type="button"].button-secondary,
.wrap.auto-load-next-post.support input[type="submit"].button-secondary,
.auto-load-next-post-notice.support a.button-primary,
.auto-load-next-post-notice.support a.button-secondary {
	display: none;
}
nav.nav-tab-wrapper {
	padding-left: 0px !important;
}
nav.nav-tab-wrapper span {
	float: left;
	line-height: initial;
	font-size: 1.3em;
	margin-right: 6px;
}
nav .nav-tab:first-child {
	margin-left: 10px;
}
.wrap.auto-load-next-post-div.updated, .wrap.auto-load-next-post-div.error {
	margin-top:10px;
}
.wrap.auto-load-next-post.auto-load-next-post-status .submit.debug-report {
	margin: 0;
	padding: 0;
}
.button.auto-load-next-post-reload {
	display: block;
	text-indent: -9999px;
	position: relative;
	height: 1em;
	width: 1em;
	padding: 0;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	height: 24px;
	width: 24px !important;
	display: inline-block;
}
.button.auto-load-next-post-reload:after {
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 22px;
}
.auto-load-next-post table.form-table fieldset {
	margin-top: 4px;
}

/* Notifications */
.notice.auto-load-next-post-notice {
	padding: 20px;
}
.notice.jetpack-info {
	border-left-color: #4ab866 !important;
}
.rtl .notice.jetpack-info {
	border-right-color: #4ab866 !important;
}
.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner {
	display: table;
	width: 100%;
}
.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-notice-icon,
.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-notice-content,
.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-review-now,
.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-send-feedback {
	display: table-cell;
	vertical-align: middle;
}
.notice.auto-load-next-post-notice .auto-load-next-post-notice-icon {
	color: #509ed2;
	font-size: 50px;
	width: 60px;
}
.notice.auto-load-next-post-notice .auto-load-next-post-notice-icon img {
	width: 64px;
}
.notice.auto-load-next-post-notice .auto-load-next-post-notice-content {
	padding: 0 40px 0 20px;
}
.notice.auto-load-next-post-notice p {
	padding: 0;
	margin: 0;
}
.notice.auto-load-next-post-notice h3 {
	margin: 0 0 5px;
}
.notice.auto-load-next-post-notice .auto-load-next-post-review-now,
.notice.auto-load-next-post-notice .auto-load-next-post-send-feedback,
.notice.auto-load-next-post-notice .auto-load-next-post-documentation {
	text-align: center;
}
.notice.auto-load-next-post-notice .auto-load-next-post-review-now .auto-load-next-post-review-button,
.notice.auto-load-next-post-notice .auto-load-next-post-send-feedback .auto-load-next-post-feedback-button,
.notice.auto-load-next-post-notice .auto-load-next-post-documentation .auto-load-next-post-documentation-button {
	padding: 6px 50px;
	height: auto;
	line-height: 20px;
}
.notice.auto-load-next-post-notice a.no-thanks {
	display: block;
	margin-top: 10px;
	color: #72777c;
	text-decoration: none;
}
.notice.auto-load-next-post-notice a.no-thanks:hover {
	color: #444;
}
@media (max-width: 767px) {
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner {
		display: block;
	}
	.notice.auto-load-next-post-notice {
		padding: 20px !important;
	}
	.notice.auto-load-next-post-noticee .auto-load-next-post-notice-inner {
		display: block;
	}
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-notice-content {
		display: block;
		padding: 0;
	}
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-notice-icon {
		display: none;
	}
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-review-now,
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-send-feedback,
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-documentation {
		margin-top: 20px;
		display: block;
		text-align: left;
	}
	.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .no-thanks {
		display: inline-block;
		margin-left: 15px;
	}
}

/* Settings Form */
.wrap #mainform {
  float: left;
  position: relative;
  width: 74%;
}

body.folded .wrap #mainform {
  width: 75%;
}

@media screen and (max-width: 1052px) {
  .wrap #mainform {
    width: 100%;
  }
}

/* Sidebar */
.alnp-sidebar {
  float: right;
  position: relative;
  top: 24px;
  margin-left: 1%;
  margin-right: 0;
  max-width: 360px;
  width: 24%;
}

.alnp-sidebar .block {
  background-color: #fff;
  margin-bottom: 2em;
}

.alnp-sidebar .block .inner-block {
  padding: 10px 20px;
}

.alnp-sidebar .block h3 {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 14px 20px;
  margin: 0;
  text-transform: none;
}

.alnp-sidebar .subscribe {
  border-top: none
}

.alnp-sidebar .subscribe h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 20px;
  line-height: 1.2em;
  float: none
}

.alnp-sidebar .subscribe h3 {
  font-size: 16px;
  margin: 0
}

.alnp-sidebar .subscribe p {
  margin: 0
}

.alnp-sidebar .subscribe .intro {
  margin-bottom: 1em;
  line-height: 1.4
}

.alnp-sidebar .subscribe li {
  line-height: 1.4
}

.alnp-sidebar .subscribe .links {
  margin-bottom: 2em
}

.alnp-sidebar .subscribe .links a {
  text-decoration: none
}

.alnp-sidebar .subscribe .promise {
  color: #999;
  font-size: 12px;
  line-height: 1.4em
}

.alnp-sidebar .subscribe .field {
  margin-bottom: 0.5em
}

.alnp-sidebar .subscribe .field p {
  margin-bottom: 0.3em
}

.alnp-sidebar .subscribe .field input[type=text], 
.alnp-sidebar .subscribe .field input[type=email] {
  width: 100%
}

.alnp-sidebar .subscribe .field.submit-button {
  margin-bottom: 1em
}

.alnp-sidebar .credits {
  border-top: 0
}

.alnp-sidebar .credits h4 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px
}

.alnp-sidebar .credits ul {
  margin: 0
}

.alnp-sidebar .credits li {
  overflow: hidden
}

.alnp-sidebar .credits li:last-child {
  margin-bottom: 0
}

.alnp-sidebar .credits img {
  float: left;
  margin-right: 10px
}

.alnp-sidebar .credits span {
  float: left;
  display: block;
  line-height: 32px
}

.alnp-sidebar .credits a {
  display: block;
  text-decoration: none;
  color: #444;
  font-size: 16px;
  text-align: center
}

.alnp-sidebar .credits a:hover {
  color: #888
}

@media screen and (max-width: 1052px) {
  .alnp-sidebar {
    float: none;
    clear: both;
    width: 360px;
    margin: 0 auto 2em auto;
  }
}

.alnp-banner {
  max-width: 360px;
  width: 100%;
  height: 60px;
  display: block;
	background-color: #ffdb30;
  background: #ffdb30 url(../../images/banner.png) center center no-repeat
}

.alnp-banner:focus {
  -webkit-box-shadow: none;
  box-shadow: none
}

.wrap .alnp-upgrade-details {
  background-color: #ffdb30;
  padding: 10px 20px 20px 20px;
  color: #333;
  font-size: 13px;
  margin: 0;
  margin-bottom: 2em;
  display: block;
  text-decoration: none
}

.wrap .alnp-upgrade-details h1 {
  font-size: 28px;
  color: #fff;
  margin: 0 0 15px 0;
  padding: 0;
  text-decoration: none;
  font-weight: 400;
  line-height: 1
}

.wrap .alnp-upgrade-details p {
  margin: 0
}

.wrap .alnp-upgrade-details a {
  color: #dd3333;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  -webkit-box-shadow: none;
  box-shadow: none
}

.wrap .alnp-upgrade-details a:hover {
  color: #fff
}

.wrap .alnp-upgrade-details ul {
  margin-top: 0;
  margin-left: 16px;
  list-style-type: disc
}

/* Footer */
body.settings_page_auto-load-next-post-settings #wpfooter {
  background-color: #fff;
  border-top: 1px solid #ccc;
  position: fixed;
}

/* Help Button */
.need-help {
  background: #fff;
  display: inline-flex;
  border: 0px none;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: inherit;
  margin: 0;
  margin-top: 1em;
  padding: 0.8em;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  vertical-align: middle;
  text-transform: uppercase;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

@media screen and (max-width: 782px) {
  .need-help {
    display: none;
  }
}

.need-help.hide {
  opacity: 0.5;
}

.need-help .sonar-dot {
  margin-right: 6px;
}

/* Sonar Dot */
.sonar-dot {
  background: #008AFF;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -moz-animation: 1.8s cubic-bezier(.46,.03,.52,.96) infinite pulse;
  -o-animation: 1.8s cubic-bezier(.46,.03,.52,.96) infinite pulse;
  -webkit-animation: 1.8s cubic-bezier(.46,.03,.52,.96) infinite pulse;
          animation: 1.8s cubic-bezier(.46,.03,.52,.96) infinite pulse;
  box-shadow: 0 0 0;
  display: inline-block;
}

.sonar-dot.small {
  width: 8px;
  height: 8px;
}

.sonar-dot.large {
  width: 16px;
  height: 16px;
}

.sonar-dot.faster {
  -moz-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}

.sonar-dot.slower {
  -moz-animation-duration: 2.4s;
  -o-animation-duration: 2.4s;
  -webkit-animation-duration: 2.4s;
  animation-duration: 2.4s;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(86, 164, 240, 0.4);
  }
  100% {
    box-shadow: 0 0 0 24px rgba(86, 164, 240, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(86, 164, 240, 0.4);
  }
  100% {
    box-shadow: 0 0 0 24px rgba(86, 164, 240, 0);
  }
}