.auto-load-next-post a.help-tip {
  font-size: 0.7em; }

.auto-load-next-post a:hover {
  color: #2ea2cc; }

.auto-load-next-post .bold {
  font-weight: 700 !important; }

.auto-load-next-post code,
.auto-load-next-post .copy {
  cursor: pointer; }

.auto-load-next-post .small {
  font-size: 14px !important; }

.auto-load-next-post .red {
  color: #c92c2c !important; }

.auto-load-next-post .container {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.04);
  color: #292929;
  margin: 20px auto 80px;
  max-width: 692px;
  text-align: left;
  width: calc(100% - 20px); }
  .auto-load-next-post .container .content {
    padding: 40px; }
    .auto-load-next-post .container .content .logo {
      background-color: #ffdb30;
      margin: -40px -40px 30px;
      text-align: center; }
    .auto-load-next-post .container .content h1 {
      color: #23282d;
      font-size: 1.7em;
      font-weight: 700;
      line-height: 1.48;
      margin-bottom: 28px;
      margin-top: 0; }
    .auto-load-next-post .container .content p {
      color: #333;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 20px; }
    .auto-load-next-post .container .content ul {
      list-style: disc; }
    .auto-load-next-post .container .content li {
      margin-left: 12px; }
    .auto-load-next-post .container .content a.button.button-large,
    .auto-load-next-post .container .content button.button-large {
      font-size: 24px;
      line-height: 54px;
      height: 60px;
      padding: 0 20px; }

/* Footer */
body.settings_page_auto-load-next-post #wpfooter {
  background-color: #fff;
  border-top: 1px solid #ccc;
  position: fixed; }

body.alnp-getting-started #wpfooter,
body.alnp-setup-wizard #wpfooter {
  display: none; }

/* Help Section */
h3.alnp-default-theme-selectors {
  font-size: 1.2em; }

ul.alnp-default-theme-selectors li {
  list-style-type: none;
  margin-left: 0; }

/* Sonar Dot - Added leading zero for animations */
.sonar-dot {
  background: #008aff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-animation: 1.8s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite pulse;
  animation: 1.8s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite pulse;
  box-shadow: 0 0 0;
  display: inline-block; }

.sonar-dot.small {
  width: 8px;
  height: 8px; }

.sonar-dot.large {
  width: 16px;
  height: 16px; }

.sonar-dot.faster {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s; }

.sonar-dot.slower {
  -webkit-animation-duration: 2.4s;
  animation-duration: 2.4s; }

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(86, 164, 240, 0.4); }
  100% {
    box-shadow: 0 0 0 24px rgba(86, 164, 240, 0); } }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(86, 164, 240, 0.4); }
  100% {
    box-shadow: 0 0 0 24px rgba(86, 164, 240, 0); } }

.auto-load-next-post .box {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }
  .auto-load-next-post .box.show-box {
    display: block;
    opacity: 1; }
  .auto-load-next-post .box.template-location-results p.template-found,
  .auto-load-next-post .box.template-location-results p.no-template-found {
    display: none; }
  .auto-load-next-post .box.template-location-results a.button-doc {
    display: none; }
  .auto-load-next-post .box.theme-selector-results {
    text-align: left; }
    .auto-load-next-post .box.theme-selector-results .selectors {
      float: left;
      width: 50%; }
      .auto-load-next-post .box.theme-selector-results .selectors .container.found {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none; }
      .auto-load-next-post .box.theme-selector-results .selectors .pending::before,
      .auto-load-next-post .box.theme-selector-results .selectors .found::before,
      .auto-load-next-post .box.theme-selector-results .selectors .not-found::before {
        border-radius: 100%;
        color: #fff;
        display: inline-block;
        font-family: dashicons;
        font-size: 22px;
        height: 22px;
        margin-right: 4px;
        padding: 1px;
        position: relative;
        text-align: center;
        width: 22px; }
      .auto-load-next-post .box.theme-selector-results .selectors .pending::before {
        background-color: #ffdb30;
        content: "\f179"; }
      .auto-load-next-post .box.theme-selector-results .selectors .found::before {
        background-color: #4ab866;
        content: "\f147"; }
      .auto-load-next-post .box.theme-selector-results .selectors .not-found::before {
        background-color: #c92c2c;
        content: "\f335"; }
    .auto-load-next-post .box.theme-selector-results .results-available,
    .auto-load-next-post .box.theme-selector-results .theme-selectors-undetected,
    .auto-load-next-post .box.theme-selector-results .no-post-navigation,
    .auto-load-next-post .box.theme-selector-results .setup-complete {
      display: none; }
    .auto-load-next-post .box.theme-selector-results .results-found {
      width: 50%; }
      .auto-load-next-post .box.theme-selector-results .results-found .container.found {
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none; }
    .auto-load-next-post .box.theme-selector-results .selectors,
    .auto-load-next-post .box.theme-selector-results .results-found {
      height: 140px;
      position: relative;
      overflow: hidden; }
    .auto-load-next-post .box.theme-selector-results .selectors div,
    .auto-load-next-post .box.theme-selector-results .results-found div {
      margin: 0 0 6px; }
  .auto-load-next-post .box .debug-mode {
    display: none; }

@media screen and (min-width: 1200px) and (min-height: 1000px) {
  .auto-load-next-post body {
    font-size: 300%; }
  .auto-load-next-post .auto-load-next-post .box {
    padding: 4% 10%; } }

@media screen and (min-width: 1800px) and (min-height: 1200px) {
  .auto-load-next-post body {
    font-size: 350%; }
  .auto-load-next-post .auto-load-next-post .box {
    padding: 4% 10%; } }

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .auto-load-next-post .box {
    background-color: #1a1a1a;
    border: 1px solid #00d573; }
  .auto-load-next-post a {
    color: #00d573; } }

.meter {
  background: #e5e5e5;
  height: 20px;
  position: relative;
  margin: 8px 0;
  border-radius: 25px;
  padding: 4px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3); }

.meter > span {
  display: block;
  height: 100%;
  border-radius: 8px;
  background-color: #4ab866;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4ab866), color-stop(1, #26b04a));
  background-image: -moz-linear-gradient(center bottom, #4ab866 37%, #26b04a) 69%;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden; }

.meter > span::after,
.animate > span > span {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 50px 50px;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  border-radius: 8px;
  overflow: hidden; }

.animate > span > span {
  animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite; }

.animate > span::after {
  display: none; }

.blue > span {
  background-color: #658ef1;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #658ef1), color-stop(1, #008aff));
  background-image: -webkit-linear-gradient(#658ef1, #008aff); }

.orange > span {
  background-color: #f1a165;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1a165), color-stop(1, #f36d0a));
  background-image: -webkit-linear-gradient(#f1a165, #f36d0a); }

.red > span {
  background-color: #f0a3a3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0a3a3), color-stop(1, #c92c2c));
  background-image: -webkit-linear-gradient(#f0a3a3, #c92c2c); }

.yellow > span {
  background-color: #f1e865;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1e865), color-stop(1, #f0dd30));
  background-image: -webkit-linear-gradient(#f1e865, #f0dd30); }

@keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }

@-webkit-keyframes move {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 50px 50px; } }

.nostripes > span > span,
.nostripes > span::after {
  animation: none;
  -webkit-animation: none;
  background-image: none; }

/* Navigation */
nav.nav-tab-wrapper span {
  float: left;
  line-height: initial;
  font-size: 1.3em;
  margin-right: 6px; }

nav .nav-tab:first-child {
  margin-left: 10px; }

.wrap.auto-load-next-post-div.updated,
.wrap.auto-load-next-post-div.error {
  margin-top: 10px; }

/* Settings Table */
table.alnp-table {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-spacing: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  clear: both;
  margin: 0;
  margin-bottom: 1em;
  width: 100%;
  word-wrap: break-word; }
  table.alnp-table p,
  table.alnp-table p.description {
    margin: 4px 0;
    color: #444; }
  table.alnp-table input.required.invalid {
    border-color: #c92c2c; }
  table.alnp-table fieldset {
    margin-top: 4px; }
  table.alnp-table tr:nth-child(2n) td,
  table.alnp-table tr:nth-child(2n) th {
    background: #f9f9f9; }
  table.alnp-table td,
  table.alnp-table th {
    color: #555;
    font-size: 1.1em;
    font-weight: 400;
    padding: 1.2em; }
  table.alnp-table td,
  table.alnp-table td ol,
  table.alnp-table td p,
  table.alnp-table td ul {
    font-size: 13px;
    line-height: 1.5em; }
  table.alnp-table td {
    vertical-align: top; }
  table.alnp-table th {
    font-weight: 600; }
  table.alnp-table td label,
  table.alnp-table th label {
    display: block;
    margin-bottom: 0.5em; }
  table.alnp-table tfoot td,
  table.alnp-table th,
  table.alnp-table thead td {
    text-align: left;
    line-height: 1.3em;
    font-size: 14px; }

/* Settings Form */
.wrap #mainform {
  float: left;
  position: relative;
  width: 74%; }

body.folded .wrap #mainform {
  width: 75%; }

@media screen and (max-width: 1052px) {
  .wrap #mainform {
    width: 100%; } }

/* Sidebar */
.alnp-sidebar {
  float: right;
  position: relative;
  top: 24px;
  margin-left: 1%;
  margin-right: 0;
  max-width: 360px;
  width: 24%; }
  @media screen and (max-width: 1052px) {
    .alnp-sidebar {
      float: none;
      clear: both;
      width: 360px;
      margin: 0 auto 2em; } }
  .alnp-sidebar .block {
    background-color: #fff;
    margin-bottom: 2em;
    padding: 1em; }
    .alnp-sidebar .block .inner-block {
      padding: 10px 20px; }
    .alnp-sidebar .block h3 {
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      padding: 14px 20px;
      margin: 0;
      text-transform: none; }
  .alnp-sidebar .subscribe {
    border-top: none; }
    .alnp-sidebar .subscribe h2 {
      padding: 0;
      margin: 0;
      margin-bottom: 0.5em;
      font-size: 20px;
      line-height: 1.2em;
      float: none; }
    .alnp-sidebar .subscribe h3 {
      font-size: 16px;
      margin: 0; }
    .alnp-sidebar .subscribe p {
      margin: 0; }
    .alnp-sidebar .subscribe .intro {
      margin-bottom: 1em;
      line-height: 1.4; }
    .alnp-sidebar .subscribe li {
      line-height: 1.4; }
    .alnp-sidebar .subscribe .links {
      margin-bottom: 2em; }
      .alnp-sidebar .subscribe .links a {
        text-decoration: none; }
    .alnp-sidebar .subscribe .promise {
      color: #999;
      font-size: 12px;
      line-height: 1.4em; }
    .alnp-sidebar .subscribe .field {
      margin-bottom: 0.5em; }
      .alnp-sidebar .subscribe .field p {
        margin-bottom: 0.3em; }
      .alnp-sidebar .subscribe .field input[type=text],
      .alnp-sidebar .subscribe .field input[type=email] {
        width: 100%; }
      .alnp-sidebar .subscribe .field.submit-button {
        margin-bottom: 1em; }
  .alnp-sidebar .credits {
    border-top: 0; }
    .alnp-sidebar .credits h4 {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 10px; }
    .alnp-sidebar .credits ul {
      margin: 0; }
    .alnp-sidebar .credits li {
      overflow: hidden; }
    .alnp-sidebar .credits li:last-child {
      margin-bottom: 0; }
    .alnp-sidebar .credits img {
      float: left;
      margin-right: 10px; }
    .alnp-sidebar .credits span {
      float: left;
      display: block;
      line-height: 32px; }
    .alnp-sidebar .credits a {
      display: block;
      text-decoration: none;
      color: #444;
      font-size: 16px;
      text-align: center; }
    .alnp-sidebar .credits a:hover {
      color: #888; }

/* Banner */
.alnp-banner {
  max-width: 360px;
  width: 100%;
  height: 60px;
  display: block;
  background-color: #ffdb30;
  background: #ffdb30 url("../../images/banner.png") center center no-repeat; }

.alnp-banner:focus {
  box-shadow: none; }

.wrap .alnp-upgrade-details {
  background-color: #ffdb30;
  padding: 10px 20px 20px;
  color: #333;
  font-size: 13px;
  margin: 0;
  margin-bottom: 2em;
  display: block;
  text-decoration: none; }
  .wrap .alnp-upgrade-details h1 {
    font-size: 28px;
    color: #fff;
    margin: 0 0 15px;
    padding: 0;
    text-decoration: none;
    font-weight: 400;
    line-height: 1; }
  .wrap .alnp-upgrade-details p {
    margin: 0; }
  .wrap .alnp-upgrade-details a {
    color: #dd3333;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    box-shadow: none; }
  .wrap .alnp-upgrade-details a:hover {
    color: #fff; }
  .wrap .alnp-upgrade-details ul {
    margin-top: 0;
    margin-left: 16px;
    list-style-type: disc; }

/* Help Button */
.need-help {
  background: #fff;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: inherit;
  margin: 0;
  margin-top: 1em;
  padding: 0.8em;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  vertical-align: middle;
  text-transform: uppercase;
  overflow: visible;
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out; }
  @media screen and (max-width: 782px) {
    .need-help {
      display: none; } }
  .need-help.hide {
    opacity: 0.5; }
  .need-help .sonar-dot {
    margin-right: 6px; }

.notice.auto-load-next-post-notice {
  padding: 20px; }

.notice.jetpack-info {
  border-left-color: #4ab866 !important; }

.notice.auto-load-next-post-notice a.no-thanks {
  display: block;
  margin-top: 10px;
  color: #72777c;
  text-decoration: none; }

.notice.auto-load-next-post-notice a.no-thanks:hover {
  color: #444; }

.notice.auto-load-next-post-notice p {
  padding: 0;
  margin: 0; }

.notice.auto-load-next-post-notice h3 {
  margin: 0 0 5px; }

.notice.auto-load-next-post-notice .auto-load-next-post-review-now,
.notice.auto-load-next-post-notice .auto-load-next-post-send-feedback,
.notice.auto-load-next-post-notice .auto-load-next-post-documentation {
  float: right;
  text-align: center; }

.notice.auto-load-next-post-notice .auto-load-next-post-review-now .auto-load-next-post-review-button,
.notice.auto-load-next-post-notice .auto-load-next-post-send-feedback .auto-load-next-post-feedback-button,
.notice.auto-load-next-post-notice .auto-load-next-post-documentation .auto-load-next-post-documentation-button {
  height: auto;
  line-height: 20px;
  padding: 6px 50px; }

.notice.auto-load-next-post-notice .auto-load-next-post-notice-inner {
  display: table;
  width: 100%; }
  .notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-notice-icon,
  .notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-notice-content,
  .notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-review-now,
  .notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-send-feedback {
    display: table-cell;
    vertical-align: middle; }

.notice.auto-load-next-post-notice .auto-load-next-post-notice-content {
  padding: 0 6% 0 20px; }

.notice .auto-load-next-post-notice-icon {
  color: #509ed2;
  font-size: 50px;
  width: 60px; }
  .notice .auto-load-next-post-notice-icon img {
    font-size: 0;
    width: 64px; }

.rtl .notice.jetpack-info {
  border-right-color: #4ab866 !important; }

body.alnp-getting-started .notice,
body.alnp-setup-wizard .notice {
  display: none; }

@media (max-width: 767px) {
  .notice.auto-load-next-post-notice .auto-load-next-post-notice-inner {
    display: block; }
  .notice.auto-load-next-post-notice {
    padding: 20px !important; }
  .notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-notice-content {
    display: block;
    padding: 0; }
  .notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-notice-icon {
    display: none; }
  .notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-review-now,
  .notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-send-feedback,
  .notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .auto-load-next-post-documentation {
    margin-top: 20px;
    display: block;
    text-align: left; }
  .notice.auto-load-next-post-notice .auto-load-next-post-notice-inner .no-thanks {
    display: inline-block;
    margin-left: 15px; } }
