body.rtl {

	/* Setup Wizard */
	.auto-load-next-post {

		.box {
	
			&.theme-selector-results {
	
				.selectors {

					.pending::before,
					.found::before,
					.not-found::before {
						display: block;
						float: left;
					}

				}

			}

		}

	}

	/* Settings Form */
	.wrap #mainform {
		float: right;
		width: 74%;
	}

	/* Sidebar */
	.alnp-sidebar {
		float: left;
		margin-left: 0;
		margin-right: 1%;
	}

}