.auto-load-next-post {

	.box {
		display: none;
		opacity: 0;
		transition: opacity 300ms;
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;

		&.show-box {
			display: block;
			opacity: 1;
		}

		&.template-location-results {
			p.template-found,
			p.no-template-found {
				display: none;
			}

			a.button-doc {
				display: none;
			}
		}

		&.theme-selector-results {
			text-align: left;

			.selectors {
				float: left;
				width: 42%;

				.found::before,
				.not-found::before {
					display: inline-block;
					color: $white;
					padding: 0;
					margin-right: 4px;
					width: 22px;
					height: 22px;
					font-size: 16px;
					border-radius:100%;
					text-align: center;
					position: relative;
				}
			
				.found::before {
					content:'\2714';
					background-color: $green;
				}
			
				.not-found::before {
					content:'\2716';
					background-color: $red;
				}
			}

			.results-available,
			.no-post-navigation {
				display: none;
			}

			.results-found {
				width: 58%;
			}

			.selectors,
			.results-found {
				position: relative;
				overflow: hidden;
			}

			.selectors div,
			.results-found div {
				border-bottom: 1px solid $lightgrey;
				margin: 0 0 6px;
			}
		}
	}

	div.debug-mode {
		display: none;
	}

	@media screen and (min-width: 1200px) and (min-height: 1000px) {
		body {
			font-size: 300%;
		}
		.auto-load-next-post {
			.box {
				padding: 4% 10%;
			}
		}
	}

	@media screen and (min-width: 1800px) and (min-height: 1200px) {
		body {
			font-size: 350%;
		}
		.auto-load-next-post {
			.box {
				padding: 4% 10%;
			}
		}
	}

	/* Dark Mode */
	@media (prefers-color-scheme: dark) {
		.auto-load-next-post {
			.box {
				background-color: #1a1a1a;
				border: 1px solid #00d573;
			}

			a {
				color: #00d573;
			}
		}
	}

}
